:root {
    --purple:#4827ec;

    --black:#0d1418;
    --gray:#eff0f0;
    --blackGray:#949798;
    --bg-black:#2c3134;
    --white:#fff;
    --border:#d6d7d7;
}

* , ::before , ::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.btn {
    padding: 7px 12px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--gray , #eff0f0);
    background-color: var(--purple , #4827ec);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black , #2c3134) ;
}

.modal.active {
    display: block;
}

.modal.disable {
    display: none;
}

.close {
    position: absolute;
    top: 50px;
    right: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--white , #fff);
    background-color: var(--black);
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 600px;
    margin:0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--white , #fff);
    transform: translate(-50% , -50%);
}

.card__title {
    margin: 0;
    font-size: 24px;
}

.card__paragraph {
    line-height: 1.5;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input , .form__btn {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--border , #d6d7d7 );
    outline: none;
}

.input {
    background-color: var(--gray);
}

.input:focus {
    outline: 2px solid var(--purple);
}

.form__btn {
    cursor: pointer;
    color: var(--white , #fff);
    background-color: var(--purple , #4827ec );
}

.card__info {
    display: block;
    margin-top: 10px;
    font-size: .75rem;
    line-height: 1.5;
    color: var(--blackGray);
}

.card__moreInfo {
    color: var(--black);
}

@media screen and (min-width:768px) {
    .form {
        flex-direction: row;
    }

    .input {
        width: 100%;
    }
}
